/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 Oct, 2019, 10:36:55 AM
    Author     : deepe
*/


h3{
  font-family: Calibri; 
  font-size: 25pt;         
  font-style: normal; 
  font-weight: bold; 
  color:black;
  text-align: center; 
  text-decoration: underline
}

table{
  font-family: Calibri; 
  color:white; 
  font-size: 11pt; 
  font-style: normal;
  font-weight: bold;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #cea177 74%); 
  border-collapse: collapse; 
  border: 2px solid navy
}
table.inner{
  border: 0px
}
